.error-message {
  color: red;
  margin-top: 10px;
}

input{
  background: transparent;
  border: 1px solid gray;
  outline: 0;
  padding: 18px 8px;
  color: black;
  border-radius: 5px;
  font-size: 16px;
}

button{
  border-radius: 10px;
  outline: 0;
  padding: 18px;
  font-size: 16px;
  color: white;
  background: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover{
    opacity: .7;
    transition: opacity .3s;
  }
}

body{
  margin: 0;
  text-align: center;
  padding:15px
}

.image_drop_block{
    border: 2px dashed #999;
    width: 100%;
    background: #ccc;
    margin: 10px 0px 50px 0px;
}

@media only screen and (max-width: 800px) {
  label{
    display: block;
    margin-bottom: 5px;
  }
}